body {
  margin: 0;
  background-image: url(./images/background.jpg);
  text-align: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
}

/*******   free-loan *******/

.modal {
  position: fixed;
  width: 70%;
  height: 300px;
  border-radius: 30px;
  top: 35%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s ease;
  color: rgb(64, 113, 154);
  margin-left: 10%;
  background-color: rgb(255, 255, 255);
}

.modal.is-visible {
  opacity: 1;
  visibility: visible;
}

.free-loan {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  font-family: "Merriweather", serif;
  word-spacing: 2px;
  line-height: 35px;
  margin-bottom: 50px;
}

/*******   Title  *******/

.header-title {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}

/*******  Containers  *******/

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  width: 70%;
  height: 600px;
  margin-bottom: 40px;
}

.pay,
.history,
.loan-infos,
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  transition: 0.3s ease;
  width: 600px;
}

.title {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  user-select: none;
  margin-bottom: 30px;
}

.digits {
  color: rgb(64, 113, 154);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0.5rem;
  font-family: "Abril Fatface", serif;
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 20px;
}

.input {
  display: block;
  width: 30%;
  padding: 8px 16px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  color: rgb(19, 29, 41);
  border: 1px solid rgb(101, 101, 106);
  background: D6D6E7;
  transition: border 0.3s ease;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(214, 214, 231) 0 -3px 0 inset;
}

.button {
  align-items: center;
  appearance: none;
  background-color: rgb(101, 101, 106);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(214, 214, 231) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(213, 214, 220);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: rgb(147, 147, 151) 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgb(214, 214, 231) 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(214, 214, 231) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: rgb(101, 101, 106) 0 3px 7px inset;
  transform: translateY(2px);
}

.loan-slider {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  user-select: none;
}

/*******   Slider style *******/

.range-style {
  height: 10px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  width: 70%;
}

.info,
.text-payments {
  box-sizing: border-box;
  color: rgb(128, 128, 128);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.payments-history {
  gap: 20px;
  border-collapse: collapse;
  box-sizing: border-box;
  color: rgb(213, 222, 231);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  width: 70%;
}

/*******   Table History Payments *******/

td {
  width: 28%;
  color: rgb(101, 101, 106);
  padding: 10px;
}

table {
  width: 716px; /* 140px * 5 column + 16px scrollbar width */
  border-spacing: 0;
}

tbody,
thead tr {
  display: block;
}

tbody {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(213, 222, 231);
  border: 1px solid rgb(101, 101, 106);
  border-radius: 5px;
}
